

/* ROOT */
:root {
  /* colors */
  --colorPrimary: #FFF;
  --colorSecondary: #242424;
  /* backgrounds */
  /* --backgroundPrimary: #BB2339; */
  /* --backgroundSecondary: #FFF; */
  /* btn colors */
  /* --btnColor: #;
  --btnHover: #;
  --btnDisabled: #; */
  /* fonts */
  --fontFamily: 'Open Sans', sans-serif;
  --fontWeight: 400;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  background-color: var(--backgroundPrimary);
  color: var(--colorPrimary);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1375px;
  margin: 0 auto;
  padding: 0 15px;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

/*------------------------------ HEADER STYELS START -------------------------------*/
.site-header {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 310px;
  padding-left: 310px;
  background-color: #BB2339;
  
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.site-header__logo-link {
  margin-right: 100px;
}


.site-header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.site-header__nav-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.site-header__nav-link.button {
  
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  
  display: inline-flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #FFF;
}

/*------------------------------- HEADER STYELS END--------------------------------  */




/*--------------------------- MAIN STYLES START ----------------------------- */
.site-main {
  width: 100%;
}

/*--------------- HERO START------------ */
.site-hero {
  width: 100%;
  background-color: #BB2339;
}

.site-hero__wrapper {
  display: flex;
  padding-top: 80px;
  
  
  background-image: url("../assets/images/burger\ 1.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 400px) 80px;
  
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .site-hero__wrapper {
    background-image: url(../assets/images/burger\ 2@2x.png);
  }
}

.site-hero__wrapper-start {
  padding-top: 104px;
  padding-right: 94px;
  padding-left: 310px;
  padding-bottom: 310px;
}

.site-hero__start {
  width: 271px;
  margin-bottom: 25px;
  color: #FFF;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}




.site-hero__start-title {
  width: 555px;
  margin-bottom: 20px;
  color: #FFF;
  font-family: "Cera Round Pro";
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: capitalize;
}

.site-hero__start-desc {
  width: 453px;
  margin-bottom: 40px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; 
  letter-spacing: 0.64px;
}



.site-hero__start-btn-link {
  color: #FFF;
  font-family: "Cera Round Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  
  display: inline-flex;
  padding: 8px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 100px;
  border: 1px solid #FFF;
}

.site-hero-scroll {
  
  padding-top: 700px;
  padding-left: 650px;
  width: 100%; 
  height: 100%; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 24px;
  display: inline-flex;
}


.site-hero__scroll-end {
  color: white; 
  font-size: 16px; 
  font-family: 'Cera Round Pro'; 
  font-weight: 700; 
  text-transform: uppercase; 
  line-height: 28px; 
  letter-spacing: 0.64px; 
  word-wrap: break-word;
  
}



/*--------------- HERO END------------ */

/* ---------------POPULAR START-------------- */

.popular {
  width: 100%;
  background: #F8F8F8;
  padding-bottom: 120px;
  
}

.popular__wrapper {
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 40px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-icons {
  display: flex;
}

.popular__title {
  color: var(--red, #BB2339);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Cera Round Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.popular__wrapper-star {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.popular__list {
  display: flex;
  gap: 20px;
  
}

.popular__item {
  padding: 20px 20px;
  width: 310px;
  height: 396px; 
  border-radius: 14px;
  background: #FFF;
}

.popular-dishes__title {
  width: 270px;
  margin-bottom: 20px;
  color: #242424;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popular__start-star {
  padding: 0 71px;
  width: 104px;
  margin-bottom: 20px;
}

.popular-dish__link {
  
  padding-left: 87px;
  padding-right: 87px;
  margin-bottom: 40px;
  width: 76px;
  color: var(--red, #BB2339);
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ---------------POPULAR END-------------- */

/* --------------------MENU START------------------ */
.menu {
  width: 100%;
  padding-left: 50px;
}
.menu__wrapper {
  
  position: relative;
  
}

.menu__spon {
  width: 93px;
  height: 93px;
  position: absolute;
  top: -50px;
  right: 60px;
}

.menu__title {
  padding-top: 120px;
  padding-bottom: 60px;
  color: var(--qizil, #BB2339);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Cera Round Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.menu__nav-list {
  display: flex;
  gap: 10px;
  
}

.menu__nav-link {
  color: #242424;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--qizil, #BB2339);
}

.menu__nav-link:active {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--qizil, #BB2339);
  background: var(--qizil, #BB2339);
}

.menu__wrapper-start {
  padding-top: 50px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  
}

.menu__start-list {
  display: flex;
  flex-wrap: wrap;
  
  gap: 20px;
}

.menu__start-item {
  width: 310px;
  height: 366px;
  
  
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.10);
  background: #FFF;
}

.menu__start-img {
  padding: 20px 20px 10px 20px;
}

.menu__start-title {
  width: 270px;
  margin-bottom: 20px;
  
  
  padding: 0 20px;
  color: #242424;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.menu__start-link {
  padding: 0 117px;
  margin-bottom: 40px;
  color: var(--qizil, #BB2339);
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

/* --------------------MENU START------------------ */

/* --------------------HAPPY START------------------ */
.happy {
  background: #F4F4F4;
 
}


.happy__wrapper-start {
 
  width: 100px;
  padding-left: 690px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.happy__start-subtitle {
  padding-top: 100px;
  margin-bottom: 8px;
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Cera Round Pro";
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.happy__start-title {
  width: 418px;
  margin-bottom: 60px;
  
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Cera Round Pro";
  font-size: 48px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.happy__wrapper {
  padding-left: 30px;
  width: 100%;
  padding-bottom: 46px;
  
}

.happy__start-list {
  display: flex;
  gap: 35px;
  
}

.happy__start-item {
  width: 410px;
  height: 198px;
  
  
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.10);
  background: #FFF;
}

.happy__title {
  padding-top: 30px;
  padding-left: 20px;
  color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 26px;
}

.happy__desc {
  width: 360px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #333;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px;
opacity: 0.7;
}

.happy__date {
  padding-left: 20px;
  padding-bottom: 30px;
  gap: 20px;
  display: flex;
  color: #333;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.happy-icon {
  width: 16px;
height: 16px;
  padding-top: 4px;
  
  
}

.happy-end {
  position: relative;
  padding-bottom: 90px;
} 

.happy-line1 {
  position: absolute;
  bottom: -50px;
  right: 50px;
}







/* --------------------HAPPY END-------------------- */

/*--------------------------- MAIN STYLES END ----------------------------- */

